@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;0,800;0,900;1,400&family=Satisfy&display=swap');

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
}

.profile_info > div > div > h3, .profile_info > div > h3 {
    margin: 5px 30px 15px 0;
}

p {
    font-size: 16px;
    text-decoration: bold;
}

a {
    color: rgb(98, 175, 235);
    padding: 5px 10px;
    text-decoration-line: none;
}

#profile-website {
    color: grey;
    padding-left: 0;
}

.container  {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.container > * {
    text-align: center;
}

.form-container {
    margin: 10px auto;
    max-width: 400px;
    border: 1.5px solid rgb(234, 234, 234);
    padding: 30px 40px;
    border-radius: 2px;
}

#logo-font {
    font-family: 'Satisfy', cursive;
    color: rgb(0, 0, 0);
    font-size: 3em;
}

nav {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

footer {
    margin-top: 30px;
}

form {
    margin: 0 auto;
}

input, select {
    width: 90%;
    height: 35px;
    padding: 4px 15px;
    margin: 4px;
    border-radius: 7px;
    font-size: 18px;
    border-style: none;
    background-color: rgb(245, 245, 245);
    border: 1px solid silver;
}

select {
    width: 98%;
}

input[name=commit] {
    width: 98%;
    height: 40px;
    color: white;
    background-color: rgb(98, 175, 235);
    border: none;
}

ol {
    list-style-type: none;
    padding-left: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.profile_header {
    /* border: 1px solid silver; */
    display: grid;
    grid-template: 1fr / 33% 66%;
}

.profile-pic{
    position: inherit;
    max-width: 80%;
    border-radius: 50%;
    margin: 20px auto;
}

.thumb-profile-pic{
    position: inherit;
    max-width: 50px;
    border-radius: 50%;
    margin: 20px auto;
}

.profile_info {
    padding: 10px 60px;
    grid-column: auto / span 1; 
    text-align: left;
}

#profile_button{
    background-color: rgb(235, 235, 235);
    border-radius: 9px;
    margin-left: 15px;
    padding: 8px 18px;
    color: rgb(0, 0, 0);
}

.photos-grid {
    /* border: 1px solid silver; */
    text-align: left;
}

.each-photo-box {
    display: flex;
    width: 32%;
    /* height: calc(1*width); */
    /* border: 1px solid red; */
    padding: 3px;
}

.each-photo {
    width: 98%;
}

.post-header {
    width: 400px;
    text-align: left;
    margin: 0 auto;
}

.photo-header {
    padding: 0 20px;
    width: 400px;
    text-align: left;
    height: 400px;
}

.post-header > div {

    position: relative;
}

.inline {
    display: inline-block;
    vertical-align: middle;
}

/* 

li {
    padding: 5px;
}



.block {
    display: block;
    text-align: left;
}

.view_box {
    padding-left: 20%;
    padding-top: 20px;
}

.adj {
    margin: 0;
}

.controls {
    margin: 20px;
    padding-bottom: 50px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.221);
}


div.brewery {
    padding-top: 20px;
}

.bottom_link {
    margin: 30px auto;
} */