@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;0,800;0,900;1,400&family=Satisfy&display=swap');

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
}

.container  {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.form-container {
    margin: 10px auto;
    max-width: 400px;
    border: 1.5px solid rgb(234, 234, 234);
    padding: 30px 40px;
    border-radius: 2px;
}

#logo-font {
    font-family: 'Satisfy', cursive;
    color: black;;
}

nav {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}

nav > * {

    margin: auto 5px;
    color: rgb(32, 32, 32);
}

.feature {
    max-width: 80%;
}

img {
    max-width: 80%;
    max-height: 600px;
    margin-bottom: 20px;
    position: relative;
    vertical-align: center;
}

.thumb {
    max-width: 180px;
    margin: 0;
}

.logo {
    max-width: 40%;
    border: none;
    box-shadow: none;
}

form {
    margin: 0 auto;
}

input, select {
    width: 90%;
    height: 35px;
    padding: 4px 15px;
    margin: 4px;
    border-radius: 7px;
    font-size: 18px;
    border-style: none;
    background-color: rgb(245, 245, 245);
    border: 1px solid silver;
}

input[name=commit] {
    width: 98%;
    height: 40px;
    color: white;
    background-color: rgb(98, 175, 235);
    border: none;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 16px;
    text-decoration: bold;
}

a {
    color: rgb(98, 175, 235);
    padding: 5px 10px;
    text-decoration-line: none;
}

ul {
    list-style-type: none;
    position: relative;
    margin: auto;
    padding-left: 0;
}

li {
    padding: 5px;
}

.inline {
    display: inline-block;
    vertical-align: middle;
}

.block {
    display: block;
    text-align: left;
}

.view_box {
    padding-left: 20%;
    padding-top: 20px;
}

.adj {
    margin: 0;
}

.controls {
    margin: 20px;
    padding-bottom: 50px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.221);
}
.controls > * {
    color: rgb(1, 10, 1);
    padding: 3px 15px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 15px;
}

div.brewery {
    padding-top: 20px;
}

.bottom_link {
    margin: 30px auto;
}